 <%= render 'header/head2' %>s
 <% if @board.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for([:admin, @board]) do |f| %>
  <h2>スレッド新規投稿</h2>
	<%= f.collection_select(:category_id, Category.all, :id, :category_name) %>
	<%= f.text_field :thread_title %>
	<%= f.submit '投稿' %>
<% end %>

<!-- メソッド(引数) --> 
<!-- メソッド 引数 --> 
