<%= render 'header/head2' %>

<div class="container">
	<div class="col-md-7">
		<div class="box1">
			<div>
				<h2>カテゴリ　[<%= @board.category.category_name %>]</h2>
				<h2>[<%= @board.thread_title %>]</h2>
				<% @comments.each do |comment| %>
					<%= comment.user.name %>/
					<%= comment.comment %>/
					<%= comment.created_at.strftime("%Y-%m-%d/%H:%M:%S") %>
					<%= link_to "削除", admin_board_comment_path(@board,comment), method: :delete %><br>
				<% end %>
				<%= paginate @comments, class: "paginate" %>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div>
			<h3>カテゴリ一覧</h3>
			<% @categories.each do |c| %>
				<%= link_to admin_category_path(c) do %>
				<%= c.category_name %><br>
				<% end %>
			<% end %>
		</div>
	</div>
</div>