<h1>コメント一覧</h1>

<% @board.comments.each do |comment| %>
	<%= comment.id %>/
	<%= comment.user.name %>/
	<%= comment.comment %>/
	<%= comment.created_at.strftime("%Y-%m-%d/%H:%M:%S") %>
	<%= link_to "削除", admin_board_comment_path(@board,comment), method: :delete %><br>
<% end %>


