<%= render 'header/head1' %>
<h2>スレッド一覧</h2>
<% @boards.each do |board| %>
	<%= link_to board_path(board.id) do %>
	<%= board.thread_title %>
	[<%= board.category.category_name %>]
	(<%= board.comments.count %>)<br>
	<% end %>
<% end %>

<%= link_to '新規投稿画面', new_board_path %>

<h3>カテゴリ一覧</h3>
  <% @categories.each do |c| %>
    <%= link_to category_path(c) do %>
      <%= c.category_name %><br>
      <% end %>
<% end %>
