<%= render 'header/head1' %>
<h2>カテゴリ　[<%= @board.category.category_name %>]</h2>
<h2>　[<%= @board.thread_title %>]</h2>
<% @board.comments.each do |comment| %>
	<%= comment.user.name %>/
	<%= comment.comment %>/
	<%= comment.created_at.strftime("%Y-%m-%d/%H:%M:%S") %><br>
<% end %>

<%= form_for([@board,@comment]) do |f| %>
	<p>コメント:</p>
	<%= f.text_area :comment %><br>
	<%= f.submit 'コメントする' %>
<% end %>

