<%= render 'header/head2' %>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h4>カテゴリ一覧</h4>
		</div>
	</div>
	<table class="table table-striped">
		<tbody>	
			<% @categories.each do |c| %>
				<tr>
					<td><%= link_to admin_category_path(c) do %>
				    	<%= c.category_name %>
				   		<% end %>
				   	</td>
				   	<td>
				   		<%= link_to "削除", admin_category_path(c), method: :delete, "data-confirm"=> "本当に削除しますか?" %>
				   	</td>		  		
				 <% end %>
				 <%= paginate @categories %>
			 	</tr>
		</tbody>
	</table>

<%= link_to "カテゴリ追加", new_admin_category_path %>



