<%= render 'header/head2' %>
<h2>カテゴリ[<%= @category.category_name %>]</h2>

<% @category.boards.each do |board| %>
	<%= link_to admin_board_path(board.id) do %>
	<%= board.thread_title %>
	(<%= board.comments.count %>)<br>
	<% end %>
<% end %>