<%= render 'header/head1' %>
<h2>カテゴリ[<%= @category.category_name %>]</h2>

<%= search_form_for @q do |f| %>
	 <%= f.label :スレッド検索 %>
	 <%= f.search_field :thread_title_cont %>
	 <%= f.submit %>
<% end %>

<% @category.boards.each do |board| %>
	<%= link_to board_path(board.id) do %>
	<%= board.thread_title %>
	(<%= board.comments.count %>)<br>
	<% end %>
<% end %>

