<!DOCTYPE html>
<html>
  <head>
    <title>Rokyubbs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">


     <%= yield %>
    </div>
      <script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery("#validate_id").validationEngine();
    });
    </script>
    <footer>
        <p class="footer-text">籠球BBS (CopyRight)</p>
    </footer>
  </body>
    
</html>
